{% extends "common/base_inside.html.twig" %}


{% block body %}
  <section class="section">
    <div class="container">
      <h2 class="title is-2">Tableau de bord</h2>
      <p>Bienvenue <strong>{{ app.user.username }} </strong></p>
        {% if mainIncinerateur %}
        <ul>            
            <li>
                <p><strong>{{ mainIncinerateur.name }}</strong>, possède
                {{ mainIncinerateur.nbLignes }} lignes</p>
                {% for ligne in mainIncinerateur.lignes %}
                  la ligne n°{{ ligne.numero }} a {{ ligne.nbFours }} fours<br/>
                {% endfor %}
            </li>
        </ul>
        {% else %}
            <p>Pas d'incinéraeur associé</p>
        {% endif %}

      {% if mainIncinerateur %}
      <h3 class="title is-3">Synthèse des déclarations de dioxines</h3>
        {% for ligne in mainIncinerateur.lignes %}
          <div style="width: 75%;">
            <h4 class="title is-4">Ligne n°{{ ligne.numero }}</h4>
            <canvas id="canvas_dioxine_{{ligne.numero}}"></canvas>
          </div>              
        {% endfor %}
      {% endif %}


<script src="{{ asset('build/app.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script src="https://cdn.rawgit.com/chartjs/Chart.js/master/samples/utils.js"></script>
  
<script>
    var dashboardData = {{ output|json_encode()|raw }}
    
    function addChart(ligneId) {
      var color = Chart.helpers.color;
      var barChartData = {
        labels: dashboardData.months,
        datasets: [{
          label: 'Ligne n°' + ligneId,
          backgroundColor: color('#207245').alpha(0.5).rgbString(),
          borderColor: '#558F6E',
          borderWidth: 1,
          data: dashboardData.lines[ligneId]
        }]

      };

      var ctx = document.getElementById('canvas_dioxine_' + ligneId).getContext('2d');
      new Chart(ctx, {
        type: 'bar',
        data: barChartData,
        options: {
          responsive: true,
          legend: {
            position: 'top',
          },
          /*title: {
            display: true,
            text: 'Declarations de dioxines'
          },*/
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true,
                      suggestedMax: 0.11,
                  },
                  scaleLabel:{
                    display:true,
                      labelString: "Concentration (nb/m^3)"

                  }
              }]
          },
          annotation: {
            annotations: [
              {
                type: "line",
                mode: "horizontal",
                scaleID: "y-axis-0",
                value: 0.1,
                borderColor: "red",
                label: {
                  content: "Seuil : 0.1 ng/m^3",
                  enabled: true,
                  position: "top"
                }
              }
            ]
          }
        }
      });
    }



    window.onload = function() {
      addChart(1)
      addChart(2)

    };

  </script>
    </div>
  </section>
{% endblock %}