{% extends "common/base_inside.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
        <h2 class="title is-2">Effectuer une déclaration</h2>

        <h3 class="title is-3">Volume de déchets incinérés</h3>

        <article class="message is-info">
          <div class="message-body">
            -> Faire ressortir la hiérarchie d'information
          </div>
        </article>
        {#
            {{ form_start(form_declaration_dechets) }}
            {{ form_errors(form_declaration_dechets) }}
            {{ form_widget(form_declaration_dechets) }}
            {{ form_end(form_declaration_dechets) }}
        #}
        <h3 class="title is-3">Conclusion</h4>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" />
        {{ form_end(form) }}
    </div>
  </section>
{% endblock %}