{% extends "common/base_inside.html.twig" %}
{% block stylesheets %}
<style type="text/css">

.recap-declaration-dechets ul, .declaration-mesures-continues ul {
    list-style: square;
    padding-left: 2em;
}
    </style>

<link rel="stylesheets" type="text/css" href="{{ asset('build/static/css/dropzone.css') }}" />
<script type="text/javascript" src="{{ asset('build/static/js/dropzone.js') }}"></script>
<script type="text/javascript">
Dropzone.options.declarationUpload = {
//Dropzone.options.declaration_incinerateur_declarationFile_file = {
  paramName: "declaration_incinerateur[declarationFile][file]"
};
</script>
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container declaration-mesures-continues">
        <h2 class="title is-2">Déclaration mensuelle de mesures continues</h2>
        {{ form_start(form, {'attr': {'class':'dropzone', 'id': "declaration-upload"}}) }}

        <table class="table">
          <tbody>
            <tr>

              <td>Mois de déclaration</td>
              <style type="text/css">#declaration_incinerateur_declarationMonth_day {
                display:none;
                }</style>
              <td>{{ form_widget(form.declarationMonth) }}</td>
              <td>{{ form_errors(form.declarationMonth) }}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="title is-3">Volume de déchets incinérés</h3>
        <div class="recap-declaration-dechets">
            <ul>
                <li>
                {{ form_widget(form.declarationDechets.qtiteIncinereeTotale) }} T de déchets incinérés, dont:

                <ul>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsDasri) }}T DASRI</li>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsDangereux) }}T de déchets dangereux</li>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereux) }}T de déchets non dangereux, dont
                        <ul>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxMenagers) }}T de déchets ménagers
                            </li>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxRefusTri) }}T de refus de tri
                            </li>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxDae) }}T de déchets DAE non dangereux</li>
                        </ul>
                    </li>
                </ul>
                </li>
            </ul>
        </div>



        <h3 class="title is-3">Declaration générale de fonctionnement</h3>
        {% for fonctionnementLigne in form.declarationsFonctionnementLigne %}

            <h4 class="title is-4">Ligne n°{{ fonctionnementLigne.vars['value'].ligne.numero }}</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Nombre d'heures de fonctionnement théoriques</td>
                  <td>{{ form_widget(fonctionnementLigne.nbHeuresFonctionnementTh) }}</td>
                  <td>{{ form_errors(fonctionnementLigne.nbHeuresFonctionnementTh) }}</td>
                </tr>
                <tr>
                  <td>Nombre d'heures de fonctionnement réelles</td>
                  <td>{{ form_widget(fonctionnementLigne.nbHeuresFonctionnementReel) }}</td>
                  <td>{{ form_errors(fonctionnementLigne.nbHeuresFonctionnementReel) }}</td>
                </tr>
              </tbody>
            </table>
        {% endfor %}


        <h3 class="title is-3">Declaration de mesures continues</h3>

        <p>
          Le détail des données à envoyer est indiqué dans chaque modèle de fichier.
        </p>
        <p></p>
          Vous pouvez déclarer : 
          <ul>
            <li>En remplissant nos modèles de fichiers, et en les chargeant sur le site</li>
            <li>En envoyant directement les fichiers extraits de votre logiciel de suivi, au format .xls </li>
          </ul>
          <p>
            Méthode de saisie : menu déroulant avec “Modèle  DREAL, rapports MEAC300 (Sick), rapports WEX (Envea)
          </p>
        </p>

        <div class="columns">
          <div class="column">
            <h4  class="title is-4">Compteurs</h4>

            {{ form_widget(form.declarationFile) }}

            <p>
              <a href="{{ url('route_download_template') }}" class="button is-primary">Téléchargez notre modèle pour les compteurs</a>
            </p>
          </div>
          <div class="column">
            <h4  class="title is-4">Concentration</h4>
            Second column
          </div>
          <div class="column">
            <h4  class="title is-4">Flux</h4>
            Third column
          </div>
        </div>

        <h3 class="title is-3">Remarques</h3>
        {{ form_widget(form.comment) }}<br/>

        <input type="submit" value="Déclarer !" class="button is-primary"/>
        {{ form_end(form) }}
    </div>
  </section>
{% endblock %} 