{% extends "common/base_inside.html.twig" %}
{% block stylesheets %}
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
        <h2 class="title is-2">Effectuer une déclaration</h2>
        
        <a class="button is-primary" href="{{ path('route_download_template') }}">Télécharger un modèle de déclaration</a>
<article class="message is-info">
  <div class="message-body">
    -> ce formulaire va être découpé en plusieurs fichiers
  </div>
</article>

        <h3 class="title is-3">Mesure de dioxines</h3>

<article class="message is-info">
  <div class="message-body">
    -> un formulaire par ligne existante dans l'incinérateur
  </div>
</article>

        {{ form_start(form_mesure_dioxine) }}
        {{ form_errors(form_mesure_dioxine) }}
        {{ form_widget(form_mesure_dioxine) }}
        {{ form_end(form_mesure_dioxine) }}

        <h3 class="title is-3">Déclaration volume de déchets incinérés</h3>

<article class="message is-info">
  <div class="message-body">
    -> Faire ressortir la hiérarchie d'information
  </div>
</article>

        {{ form_start(form_declaration_dechets) }}
        {{ form_errors(form_declaration_dechets) }}
        {{ form_widget(form_declaration_dechets) }}
        {{ form_end(form_declaration_dechets) }}

        <h3 class="title is-3">Déclaration rejets dans l'air</h3>
<article class="message is-info">
  <div class="message-body">
    Chaque ligne est séparée en 2 catégories 
    <ul>
        <li> - mesures de flux et concentration</li>
        <li> - mesures de température</li>
    </ul>
    Pour chacune de ces catégories, on peut télécharget un fichier CSV de modèle, que l'on upload pour déclarer ses relevés
  </div>
</article>
<article class="message is-danger">
  <div class="message-body">
    -> Et le compteur paramètre ? Et le compteur dispositif ? 
  </div>
</article>
        <h3 class="title is-3">Déclaration fonctionnement des lignes</h3>
<article class="message is-info">
  <div class="message-body">
    -> un formulaire par ligne existante dans l'incinérateur
  </div>
</article>

        <h3 class="title is-3">Déclaration générale</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <input type="submit" />
        {{ form_end(form) }}
    </div>
  </section>
{% endblock %}