{% extends "common/base_inside.html.twig" %}

{% block body %}
  <section class="section">
    <div class="container declaration-mesures-continues">
        <h2 class="title is-2">Déclaration mensuelle de mesures continues</h2>
        {{ form_start(form, {'attr': {'class':'dropzone', 'id': "declaration-upload"}}) }}

        <table class="table">
          <tbody>
            <tr>

              <td>Mois de déclaration</td>
              <style type="text/css">#declaration_incinerateur_declarationMonth_day {
                display:none;
                }</style>
              <td>{{ form_widget(form.declarationMonth) }}</td>
              <td>{{ form_errors(form.declarationMonth) }}</td>
            </tr>
          </tbody>
        </table>

        <h3 class="title is-3">Volume de déchets incinérés</h3>
        <div class="recap-declaration-dechets">
            <ul>
                <li>
                {{ form_widget(form.declarationDechets.qtiteIncinereeTotale) }} <strong>T de déchets incinérés</strong>, dont:

                <ul>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsDasri) }}T DASRI</li>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsDangereux) }}T de déchets dangereux</li>
                    <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereux) }}T de déchets non dangereux, dont
                        <ul>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxMenagers) }}T de déchets ménagers
                            </li>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxRefusTri) }}T de refus de tri
                            </li>
                            <li>{{ form_widget(form.declarationDechets.qtiteIncinereeDechetsNonDangereuxDae) }}T de déchets DAE non dangereux</li>
                        </ul>
                    </li>
                </ul>
                </li>
            </ul>
        </div>


        <h3 class="title is-3">Declaration de mesures continues</h3>


        <div class="upload-info">
          <p>
            Le détail des données à envoyer est indiqué dans chaque modèle de fichier.
          </p>
          <p></p>
            Vous pouvez déclarer : 
            <ul>
              <li>En remplissant nos modèles de fichiers, et en les chargeant sur le site</li>
              <li>En envoyant directement les fichiers extraits de votre logiciel de suivi, au format .xls </li>
            </ul>
            {#
            <p>Vous pouvez également utiliser le <a href="{{ path('route_download_asset', {'asset': 'referentiel-parametres.xlsx'}) }}" class="is-info">référentiel de données</a> comme source de référence</p>
              #}

            Méthode de déclaration : {{ form_widget(form.methodeDeclaration) }}
          </p>
        </div>


        {% for fonctionnementLigne in form.declarationsFonctionnementLigne %}
        <h4 class="title is-4">
Ligne n°{{ fonctionnementLigne.vars['value'].ligne.numero }}
        </h4>

            <table class="table">
              <tbody>
                {#<tr>
                  <td>Nombre d'heures de fonctionnement théoriques</td>
                  <td>{{ form_widget(fonctionnementLigne.nbHeuresFonctionnementTh) }}</td>
                  <td>{{ form_errors(fonctionnementLigne.nbHeuresFonctionnementTh) }}</td>
                </tr>#}
                <tr>
                  <td>Nombre d'heures de fonctionnement réelles</td>
                  <td>{{ form_widget(fonctionnementLigne.nbHeuresFonctionnementReel) }}</td>
                  <td>{{ form_errors(fonctionnementLigne.nbHeuresFonctionnementReel) }}</td>
                </tr>
              </tbody>
            </table>




        <div class="columns upload">
          <div class="column">
            <h4  class="title is-4">Compteurs</h4>

            <div class="upload-area">
                {{ form_widget(fonctionnementLigne.declarationCompteursFile) }}
            </div>

            <p>
              <a href="{{ path('route_download_asset', {'asset': 'modele_saisie_compteurs.xls'}) }}" class="button is-info">Téléchargez notre modèle pour les compteurs</a>
            </p>
          </div>
          <div class="column">
            <h4  class="title is-4">Concentration et température</h4>

            <div class="upload-area">{{ form_widget(fonctionnementLigne.declarationConcentrationsFile) }}</div>
            <p>
              <a href="{{ path('route_download_asset', {'asset': 'modele_saisie_concentrations.xls'}) }}" class="button is-info">Téléchargez notre modèle pour les concentrations et températures</a>
            </p>
          </div>
          <div class="column">
            <h4  class="title is-4">Flux</h4>
            <div class="upload-area">{{ form_widget(fonctionnementLigne.declarationFluxFile) }}</div>
            <p>
              <a href="{{ path('route_download_asset', {'asset': 'modele_saisie_flux.xls'}) }}" class="button is-info">Téléchargez notre modèle pour les flux</a>
            </p>
          </div>
        </div>


        {% endfor %}

        <h3 class="title is-3">Remarques</h3>
        {{ form_widget(form.comment) }}<br/>

        <input type="submit" value="Déclarer !" class="button is-primary"/>
        {{ form_end(form) }}
    </div>
  </section>
{% endblock %} 