{% extends "common/base_inside.html.twig" %}
{% block stylesheets %}
<style type="text/css">

.recap-declaration-dechets ul {
    list-style: square;
    padding-left: 2em;
}
    </style>
{% endblock %}
{% block body %}
  <section class="section">
    <div class="container">
        <h2 class="title is-2">Déclaration de dioxines et furannes</h2>
        {{ form_start(form) }}


        <h3 class="title is-3">Declaration dioxines</h3>
        {% for mesureDioxine in form.mesuresDioxine %}

            <h4 class="title is-4">Ligne n°{{ mesureDioxine.vars['value'].ligne.numero }}</h4>
            <table class="table">
              <tbody>
                <tr>
                  <td>Nom du laboratoire</td>
                  <td>{{ form_widget(mesureDioxine.nomLaboratoire) }}</td>
                  <td>{{ form_errors(mesureDioxine.nomLaboratoire) }}</td>
                </tr>
                <tr>
                  <td>Date de début des mesures</td>
                  <td>{{ form_widget(mesureDioxine.dateDebut) }}</td>
                  <td>{{ form_errors(mesureDioxine.dateDebut) }}</td>
                </tr>
                <tr>
                  <td>Date de fin des mesures</td>
                  <td>{{ form_widget(mesureDioxine.dateFin) }}</td>
                  <td>{{ form_errors(mesureDioxine.dateFin) }}</td>
                </tr>
                <tr>
                  <td>Disponibilité de la ligne sur la période (%) </td>
                  <td>{{ form_widget(mesureDioxine.disponibiliteLigne) }}</td>
                  <td>{{ form_errors(mesureDioxine.disponibiliteLigne) }}</td>
                </tr>
                <tr>
                  <td>Disponibilité de l'analyseur sur la période (%) </td>
                  <td>{{ form_widget(mesureDioxine.disponibiliteAnalyseur) }}</td>
                  <td>{{ form_errors(mesureDioxine.disponibiliteAnalyseur) }}</td>
                </tr>
                <tr>
                  <td>Concentration des PCDD/PCDF<br/>
                    (ng NATO I-TEQ/Nm<sup>3</sup> à O<sub>2réf</sub> sur gaz sec)
                  </td>
                  <td>{{ form_widget(mesureDioxine.concentration) }}</td>
                  <td>{{ form_errors(mesureDioxine.concentration) }}</td>
                </tr>
                <tr>
                  <td>Remarques</td>
                  <td>{{ form_widget(mesureDioxine.commentaire) }}</td>
                  <td>{{ form_errors(mesureDioxine.commentaire) }}</td>
                </tr>
              </tbody>
            </table>

        {% endfor %}

        <h3 class="title is-3">Remarques</h3>
        {{ form_widget(form.comment) }}<br/>

        <input type="submit" value="Déclarer !" class="button is-primary"/>
        {{ form_end(form) }}
        
    </div>
  </section>
{% endblock %}