{% extends "dashboard/base_dashboard.html.twig" %}
{% block title %}
Aeris - Synthèse globale - {{ incinerateur.name }}
{% endblock %}

{% block dashboard %}
<h3 class="title is-3">Synthèse globale</h3>

<h4 class="title is-4">Quantité de déchets incinérés</h4>
<p>
    Quantité de déchets incinérés depuis le {{ dashboardData.dateDebutAnnee|date("d/m/Y") }} (T) : {{ dashboardData.cumulQtitesIncinereesDebutAnnee }}
</p>

<div>
  <div class="dioxine-canvas-container">
    <canvas id="canvas_quantitees_incinerees"></canvas>
  </div>
</div>

<h4 class="title is-4">Heures de fonctionnement</h4>

<div>
  <div class="dioxine-canvas-container">
    <canvas id="canvas_heures_fonctionnement"></canvas>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script src="https://cdn.rawgit.com/chartjs/Chart.js/master/samples/utils.js"></script>
<script src="{{ asset('build/static/js/customcharts.js') }}"></script>
  
<script>
var reportData = {{ dashboardData.graphQtitesIncinerees|json_encode()|raw }}
var heuresFonctionnementData = {{ dashboardData.graphHeuresFonctionnement|json_encode()|raw }}

window.onload = function() {
    addQuantiteesIncinereesChart(reportData);
    addHeuresFonctionnementChart(heuresFonctionnementData);
};

</script>


{% endblock %}