{% macro canvasContinu(ligneId, measureType) %}
<div class="dioxine-canvas-container">
  <canvas id="canvas_continu_{{ligneId}}_{{ measureType }}"></canvas>
</div>
{% endmacro %}

{% macro ligneTableau(lineReport, titre, colonne) %}
<tr>
  <td>{{ titre }}</td>
  {% for component in lineReport.tableCompteurs.colonnes %}
  <td class="{% if lineReport.tableCompteurs.measures[colonne][component] > 0%}compteur-invalide{%endif%}">{{ lineReport.tableCompteurs.measures[colonne][component] }}</td>
  {% endfor %}
</tr>
{% endmacro %}

{% import _self as s %}

{% extends "dashboard/base_dashboard.html.twig" %}
{% block title %}
Aeris - Synthèse ligne {{ ligneId }} - {{ incinerateur.name }}
{% endblock %}


{% block dashboard %}
<style type="text/css">
.compteur-invalide{
  background-color: #ff3860;
  color: #fff;
  font-weight:bold;
}
.compteur-warning{
  background-color: #ffdd57;
  color: #000;
  font-weight:bold;
}
</style>
<h3 class="title is-3" id="titre-synthese">Synthèse ligne n°{{ ligneId }}</h3>
<div>

  <table class="table" >
    <thead>
      <tr>
        <th>&nbsp;</th>
        <!-- <th>Dernier mois</th> -->
        <th>Année</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#section-dioxines">Dioxines</a></td>
        <!-- <td>{{ lineReport.tableDioxinesCompteurs60.dioxinesDernierMois }} ng/m<sup>3</sup></td> -->
        <td class="{% if lineReport.tableDioxinesCompteurs60.nbDepassementDioxinesAnnee > 0 %}compteur-invalide{%endif%}">{{ lineReport.tableDioxinesCompteurs60.nbDepassementDioxinesAnnee }} dépassements</td>
      </tr>
    </tbody>
  </table>

  <table class="table" id="table-summary">
    <thead>
      <tr>
        <th>Paramètres</th>
        <th><a href="#section-poussieres">Poussières</a></th>
        <th><a href="#section-co"><abbr title="Monoxyde de carbone">CO</abbr></a></th>
        <th><a href="#section-cot"><abbr title="Carbone organique total">COT</abbr></a></th>
        <th><a href="#section-hcl"><abbr title="Chlorure d'hydrogène">HCl</abbr></a></th>
        <th><a href="#section-hf"><abbr title="Fluorure d'hydrogène">HF</abbr></a></th>
        <th><a href="#section-so2"><abbr title="Dioxyde de soufre">SO<sub>2</sub></abbr></a></th>
        <th><a href="#section-nox"><abbr title="Oxyde d'azote">NOX</abbr></a></th>
        <th><a href="#section-nh3"><abbr title="Ammoniac">NH<sub>3</sub></abbr></a></th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <td>Dépassement VLE article 10 (h)</td>
      {% for component in lineReport.tableCompteurs.colonnes %}
      <td class="{% if lineReport.tableCompteurs.measures['compt_art10_mensuel'][component] > 60 %}compteur-invalide{%elseif lineReport.tableCompteurs.measures['compt_art10_mensuel'][component] > 0 and lineReport.tableCompteurs.measures['compt_art10_mensuel'][component] < 60%}compteur-warning{%endif%}">{{ lineReport.tableCompteurs.measures["compt_art10_mensuel"][component] }}</td>
      {% endfor %}
      {{ s.ligneTableau(lineReport, "Nombre de dépassements de la concentration moyenne journalière (j)",'nb_dep_c_moy_24h_mensuel') }}
      {{ s.ligneTableau(lineReport, "Nombre de dépassements du flux journalier (j)",'nb_dep_f_24h_mensuel') }}
      {{ s.ligneTableau(lineReport, "Nombre de dépassements > 4h",'nb_dep_4h_mensuel') }}
    </tbody>
  </table>
</div>


<div>
  <h4 class="title is-4">Déclarations de mesures continues</h4>

  <h5 class="title is-5" id="section-poussieres">Poussières <a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'psr_c_24h_moy') }}
  <h5 class="title is-5" id="section-co">CO<a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'co_c_24h_moy') }}
  <h5 class="title is-5" id="section-cot">COT<a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'cot_c_24h_moy') }}
  <h5 class="title is-5" id="section-hcl">HCl<a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'hcl_c_24h_moy') }}
  <h5 class="title is-5" id="section-hf">HF<a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'hf_c_24h_moy') }}
  <h5 class="title is-5" id="section-so2">SO<sub>2</sub><a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'so2_c_24h_moy') }}
  <h5 class="title is-5" id="section-nox">NOX<a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'nox_c_24h_moy') }}
  <h5 class="title is-5" id="section-nh3">NH<sub>3</sub><a href="#table-summary"><i class="fas fa-level-up-alt"></i></a></h5>
  {{ s.canvasContinu(ligneId, 'nh3_c_24h_moy') }}

</div>


<h3 class="title is-3" id="section-dioxines">Déclarations de dioxines et furannes  <a href="#titre-synthese"><i class="fas fa-level-up-alt"></i></a></h3>

<div class="modal" id="depassement-modal">
   <div class="modal-background"></div>
   <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">En cas de dépassement</p>
      <button class="delete close-depassement-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    <p>En cas de dépassements sur la mesure en semi-continu des dioxines et furannes, l'exploitant doit :
    <ul>
      <li>Avertir l'inspection des installations classées dans les meilleurs délais.</li>
      <li>Faire réaliser un contrôle ponctuel à l'émission des dioxines et furannes par un organisme agréé sous 10 jours.</li>
      <li>Le résultat des mesures en semi-continu ne permet pas de fonder l'engagement des procédures administratives prévues à l'article L. 514-1 du code de l'environnement.</li>
    </ul>

    Références :
    <ul>
        <li>Article 28 b1) de l'AM du 20/09/2002</a>
          <span class="tag is-link">
            <a href="https://aida.ineris.fr/consultation_document/5277#Article_28_nouveau">lien</a>
          </span>
        </li>
        <li>la note DGPR du 28 février 2011</li>
    </ul>
    </p>
   </section>
   </div>
</div>

<p>Référence réglementaire : <a href="https://aida.ineris.fr/consultation_document/5277#Annexe_I">AM 20/09/2002, Annexe I d)</a></p> <button class="button" id="open-depassement-modal">Que faire en cas de dépassement ?</button>

</p>

<div >
  <div class="dioxine-canvas-container">
    <canvas id="canvas_dioxine_{{ligneId}}"></canvas>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.5/chartjs-plugin-annotation.js"></script>
<script src="https://cdn.rawgit.com/chartjs/Chart.js/master/samples/utils.js"></script>
<script src="{{ asset('build/static/js/customcharts.js') }}"></script>
  
<script>
var reportData = {{ lineReport|json_encode()|raw }}
var dioxineDashboardData = {{ dioxineGraphData|json_encode()|raw }}

window.onload = function() {
    addDioxinesChart({{ ligneId }});
    {% for measureType in expectedGraphs %}
      addMesureChart({{ ligneId }}, '{{ measureType }}');
    {% endfor %}

  $("#open-depassement-modal").click(function() {
    $("#depassement-modal").addClass("is-active");  
  });

  $(".close-depassement-modal").click(function() {
     $("#depassement-modal").removeClass("is-active");
  });
};

</script>
{% endblock %}