<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Aeris{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/js/app.css') }}">
    {% block stylesheets %}
    {% endblock %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="{{ asset('build/static/favicons/android-chrome-192x192.png') }}" />
  </head>
  <body>
  <section class="navigation">
    <div class="container menu-container">
        {% include 'common/menu.html.twig' %}
    </div>
  </section>
  
    {% block body %}{% endblock %}
    {% block javascripts %}
    <script src="{{ asset('build/static/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
    {% include 'common/piwik.html.twig' %}
    {% if app.environment == 'prod' %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    Tawk_API.visitor = {
        name  : "{{ app.user.username }}",
        email : "{{ app.user.email }}"
    };
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5af599515f7cdf4f053411d6/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    {% endif %}
  </body>
</html>