<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="title"><a class="navbar-item" href="{{ path('route_dashboard') }}">Aeris</a></h1>
  </div>

  <div class="navbar-menu">
      <div class="navbar-end">
          <div class="navbar-item">
            <a href="{{ path('route_dashboard') }}">
              <i class="fas fa-chart-line"></i> Tableau de bord
            </a>
          </div>
          {% if is_granted('ROLE_INSPECTEUR') %}
           <div class="navbar-item">
            <a href="{{ path('route_liste_incinerateurs') }}">
              <i class="fas fa-list-ul"></i> Incinérateurs
            </a>
          </div>  
          {% elseif is_granted('ROLE_PROPRIETAIRE') %}
          <div class="navbar-item">
            <a href="{{ path('route_declaration') }}">
              <i class="fas fa-comment"></i> Déclarer
            </a>
          </div>
          
            {% if app.user.incinerateurs != null %}
          <div class="navbar-item">
            <a href="{{ path('route_history', {incinerateurId: app.user.incinerateurs[0].id }) }}">
              <i class="fas fa-calendar-alt"></i> Historique
            </a>
          </div>
            {% endif %}

          {% endif %}

          <div class="navbar-item">
            <a href="{{ path('fos_user_security_logout') }}">
              <i class="fas fa-sign-out-alt"></i> Me déconnecter
            </a>
          </div>
{#
          <div class="navbar-item">
            <div class="dropdown">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                  <i class="fas fa-user"></i>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                  <i class="fas fa-sign-out-alt"></i>
                </div>
              </div>
            </div>
          </div>
#}
      </div>
  </div>
</nav>



