{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2>Dashboard</h2>
      <p>Bienvenue <strong>{{ app.user.username }} </strong></p>
      {% if is_granted('ROLE_PROPRIETAIRE') %}
        <ul>            
        {% for incinerateur in app.user.incinerateurs %}
            <li>
                <p><strong>{{ incinerateur.name }}</strong>, possède
                {{ incinerateur.nbLignes }} lignes</p>
                {% for ligne in incinerateur.lignes %}
                  la ligne n°{{ ligne.numero }} a {{ ligne.nbFours }} fours<br/>
                {% endfor %}
            </li>
        {% else %}
            <p>Pas d'incinéraeur associé</p>
        {% endfor %}
        </ul>
      {% endif %}

      <h1>TODO: ajout de graphes</h1>
    </div>
  </section>
{% endblock %}