{% extends "common/base_inside.html.twig" %}
{% block title %}
Aeris - Historique des déclarations - {{ incinerateur.name }}
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <a class="button is-primary button-goback" href="{{ path('route_dashboard', {incinerateurId: incinerateur.id }) }}">Retour au tableau de bord</a>

      {% for declarationId in app.flashes('declaration-continues') %}
          <div class="notification is-success">
Votre déclaration de mesures continues a bien été prise en compte. Vous pouvez y accéder <a href="{{ path('route_cr_declaration', {declarationId: declarationId}) }}">ici</a>.
          </div>
      {% endfor %}
      {% for declarationId in app.flashes('declaration-dioxines') %}
          <div class="notification is-success">
Votre déclaration de dioxines et furannes a bien été prise en compte. Vous pouvez y accéder <a href="{{ path('route_cr_declaration_dioxine', {declarationId: declarationId}) }}">ici</a>.
          </div>
      {% endfor %}


      <h2 class="title is-2">Historique de déclarations de <strong>{{incinerateur.name}}</strong></h2>

      <h3 class="title is-3">Mesures continues</h3>

      {% if not declarations is empty %}
      <table class="table">
          <thead>
            <tr>
              <th>Période</th>
              <th>Date de déclaration</th>
              <th>Commentaire</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for declaration in declarations %}
            <tr>
              <td>
                <a href="{{ path('route_cr_declaration', {declarationId: declaration.id}) }}">{{ declaration.declarationMonth|monthfr|raw }} </a>
              </td>
              <td>
                {{ declaration.createdAt|localizeddate('medium', 'none') }}
              </td>
              <td>
                {{ declaration.comment }}
              </td>
              <td>
                <a class="button" href="{{ path('route_cr_declaration', {declarationId: declaration.id}) }}">Voir la déclaration</a>
              </td>
            </tr>
            {% endfor  %}
          </tbody>
      </table>

      {% else %}
      <p>Vous n'avez à ce  jour pas effectué de déclaration de mesures continues.</p>
      <br>
      <a href="{{ path('route_declaration_mesures_continues') }}" class="button is-primary is-large">Effectuer une déclaration de mesures continues</a>
      {% endif %}

      <h3 class="title is-3">Dioxines</h3>
      {% if not incinerateur.declarationsDioxine is empty %}
      <table class="table">
          <thead>
            <tr>
              <th>Période</th>
              <th>Date de déclaration</th>
              <th>Commentaire</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for declaration in incinerateur.declarationsDioxine  |sortbyfield('createdAt')|reverse %}
            <tr>
              <td>
                <a href="{{ path('route_cr_declaration_dioxine', {declarationId: declaration.id}) }}">
                {% for diox in declaration.mesuresDioxine%}
                  {# This is definitely the worst array access ever writen. #}
                  {# We only want to display the first item, yet somehow declaration.mesuresDioxine[0] or declaration.mesuresDioxine|first are not enough #}
                  {% if loop.first %}
                    {{ diox.dateDebut|date('d/m/Y') }} - {{ diox.dateFin|date('d/m/Y') }} <br />
                  {% endif %}
                {% endfor %}
                </a>              
              </td>
              <td>
                {{ declaration.createdAt|localizeddate('medium', 'none') }}
              </td>
              <td>
                {{ declaration.comment }}
              </td>
              <td>
                <a class="button" href="{{ path('route_cr_declaration_dioxine', {declarationId: declaration.id}) }}">Voir la déclaration</a>
              </td>
            </tr>
            {% endfor  %}
          </tbody>
      </table>

      {% else %}
      <p>Vous n'avez à ce  jour pas effectué de déclaration de dioxines et furannes.</p>
      <br>
      <a href="{{ path('route_declaration_dioxines') }}" class="button is-primary is-large">Effectuer une déclaration de dioxines et furannes</a>
      {% endif %}
    </div>
  </section>
{% endblock %}