{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      <h2>Historique de déclarations de <strong>{{incinerateur.name}}</strong></h2>

      <table class="table">
          <thead>
            <tr>
              <th>Déclaration</th>
              <th>Date</th>
              <th>Commentaire</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for declaration in incinerateur.declarationsIncinerateur  %}
            <tr>
              <th>
                <a href="{{ path('route_cr_declaration', {declarationId: declaration.id}) }}">{{ declaration.id }}</a>
              </th>
              <td>
                {{ declaration.createdAt|date('d/m/Y') }}
              </td>
              <td>
                {{ declaration.comment }}
              </td>
              <td>
                <a class="button">Telecharger le fichier</a>
              </td>
            </tr>
            {% endfor  %}
          </tbody>
      </table>
      <h2>compte rendu test</h2>
      <a href="{{ path('route_cr_sample') }}">accéder</a>
    </div>
  </section>
{% endblock %}