{% extends "common/base_inside.html.twig" %}
{% block body %}
  <section class="section">
    <div class="container">
      {% for declarationId in app.flashes('declaration') %}
          <div class="notification is-success">
Votre déclaration a bien été prise en compte. Vous pouvez y accéder <a href="{{ path('route_cr_declaration', {declarationId: declarationId}) }}">ici</a>.
          </div>
      {% endfor %}

      <h2 class="title is-2">Historique de déclarations de <strong>{{incinerateur.name}}</strong></h2>

      <h3 class="title is-3">Mesures continues</h3>

      {% if not incinerateur.declarationsIncinerateur is empty %}
      <table class="table">
          <thead>
            <tr>
              <th>Déclaration</th>
              <th>Date</th>
              <th>Commentaire</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for declaration in incinerateur.declarationsIncinerateur  %}
            <tr>
              <th>
                <a href="{{ path('route_cr_declaration', {declarationId: declaration.id}) }}">{{ declaration.id }}</a>
              </th>
              <td>
                {{ declaration.createdAt|date('d/m/Y') }}
              </td>
              <td>
                {{ declaration.comment }}
              </td>
              <td>
                <a class="button" href="{{ path('route_cr_declaration', {declarationId: declaration.id}) }}">Voir la déclaration</a>
              </td>
            </tr>
            {% endfor  %}
          </tbody>
      </table>

      {% else %}
      <p>Vous n'avez à ce  jour pas effectué de déclaration de mesures continues.</p>
      <br>
      <a href="{{ path('route_declaration_mesures_continues') }}" class="button is-primary is-large">Effectuer une déclaration de mesures continues</a>
      {% endif %}

      <h3 class="title is-3">Dioxines</h3>
      {% if not incinerateur.declarationsDioxine is empty %}
      <table class="table">
          <thead>
            <tr>
              <th>Déclaration</th>
              <th>Date</th>
              <th>Commentaire</th>
              <th>Lien</th>
            </tr>
          </thead>
          <tbody>
            {% for declaration in incinerateur.declarationsDioxine  %}
            <tr>
              <th>
                <a href="{{ path('route_cr_declaration_dioxine', {declarationId: declaration.id}) }}">{{ declaration.id }}</a>
              </th>
              <td>
                {{ declaration.createdAt|date('d/m/Y') }}
              </td>
              <td>
                {{ declaration.comment }}
              </td>
              <td>
                <a class="button" href="{{ path('route_cr_declaration_dioxine', {declarationId: declaration.id}) }}">Voir la déclaration</a>
              </td>
            </tr>
            {% endfor  %}
          </tbody>
      </table>

      {% else %}
      <p>Vous n'avez à ce  jour pas effectué de déclaration de dioxines et furannes.</p>
      <br>
      <a href="{{ path('route_declaration_dioxines') }}" class="button is-primary is-large">Effectuer une déclaration de dioxines et furannes</a>
      {% endif %}

      {#
      <h2>compte rendu test</h2>
      <a href="{{ path('route_cr_sample') }}">accéder</a>
      #}
    </div>
  </section>
{% endblock %}