<!DOCTYPE html>
<html>
<body>
    <p>Bonjour,</p>

    <p>{{ declaration.incinerateur.name }} vient d'effectuer une déclaration de rejets dans l'air concernant {{ declaration.declarationMonth|monthfr|raw }}.<br>
    Une fois connecté à Aeris via <a href="{{ url('fos_user_security_login') }}">{{ url('fos_user_security_login') }}</a>, vous pourrez la consulter <a href="{{ url('route_cr_declaration', {declarationId: declaration.id }) }}">à cette adresse</a>.</p>

    <p>Bonne journée,<br />
    l'équipe Aeris.</p> 
</body>
</html>